<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

</br>
<span style="font-size:18px;">Rows Affected = {{rows}}</span>
</br>

<br></br>
<a href="/query"><span style="font-size:18px;">Execute Query</span></a>
<br></br>
<a href="/pstat/query"><span style="font-size:18px;">Execute Prepared Statement Query</span></a>
<br></br>
<a href="/stream"><span style="font-size:18px;">Execute Stream Query</span></a>
<br></br>
<a href="/batch"><span style="font-size:18px;">Execute Batch Query</span></a>